@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;600;700&display=swap");
.slidebar{
    background-color: #f2f5f6;
    overflow: hidden;
    overflow-x: scroll;
}
@media screen and (max-width:500px){
    .slidebar{
        flex-direction: column;
    }
    .homeprofile{
        visibility: hidden;
    }
    .profilelogo{
        margin: 7px;
    }
    .profile_bell{
        margin: 10px;
    }
    .comp_name{
        font-size: 30px;
    }
    .sidebar2{
        display: none;
    }
}
@media screen and (min-width:501px){
   .navbar,.xsidebar{
    display: none;
   }
}
.homesidebar{
  font-family: "Poppins", "sans-sarif";
  background-color: blue;
  border: 6px solid ;
}
.navbar{
    gap: 3px;
    height:49px;
    width:100vw;
    justify-content: space-between;
}
.navbar .homeprofile{
    margin-top: 15px;
}
:root {
  --body-color: #a9aebb;
  --sidebar-color: #fff;
  --primary-color: #f4f2f2;
  --primary-color-light: #f4f2f2;
  --toggle-color: #ddd;
  --text-color: #707070;
  --dark-color: #000;
}

/* Reusable CSS */

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  /* transition: var(--trans-04); */
  white-space: unset;
  opacity: 1;
}

/* Sidebar */
.sidebar {
  top: 0;
  left: 0px;
  height: 90%;
  width: 250px;
  background-color: var(--sidebar-color);
  padding: 10px 14px;
  transition: var(--trans-02);
}

.sidebar li {
  height: 50px;
  /* background-color: red; */
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}
.sidebar li .icons,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--trans-03);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-right: 50px;
  border-radius: 6px;
  transition: var(--trans-04);
  text-align: left;
}


.sidebar li a:hover .icons,
.sidebar li a:hover .text {
    color: #605BFF;
}
.icons{
    width: 30px;
    height: 30px;
}
.homelogo{
    width: 60px;
    height:60px;
    align-items: center;
    font-size: 40px;
}
@media screen and (max-width:500px){
    .homelogo{
        width: 40px;
        height: 40px;
    }
    .comp_name{
        font-size: medium;
    }
}
.uploadpage{
    min-height: 120vh;
    background-color: #f2f5f6;
    width: 83vw;
}
.Homeheader{
    padding: 15px 15px;
    width: 83vw;
    height: 7vh;
    /* background-color: yellow; */
}
.homeprofile{
   /* background-color: #a1e24c; */
   width:5vw;
   height:4vh;  
}
.profilelogo{
    background-color: #e57f5a;
    width: 30px;
    height:30px;
    border-radius: 100%;
    cursor: pointer;
}
.profile_bell{
    font-size: 25px;
    cursor: pointer;
}
.dropbox {
    display: flex;
    margin: auto;
    margin-top: 12vh;
    align-items: center;
    justify-content: center;
    background-color: var(--sidebar-color);
    width: 36vw;
    height: 42vh;
    border-radius: 10px;
    flex-direction: column;
}
@media screen and (max-width:500px) {
    .dropbox{
        width: 400px;
    }
   .fileinput,.formbold-mb-5,.formbold-file-input label{
       width: 80vw;
       height:50vh;
    }
    .upload{
        width:80vw;
    }
    .formbold-file-input label{
        width:300px;
        height:200px;
    }

}
.fileinput{
    /* position: relative; */
    width: 35vw;
    display: flex;
    justify-content: center;
    height: 27vh;
    margin: 20px 20px;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
    cursor: pointer;
}
.formbold-mb-5 {
    position: inherit;
    margin-bottom: 20px;
    width: 35vw;
    align-items: center;
    justify-content: center;
  }


  .formbold-file-input input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .formbold-file-input label {
    position: relative;
    border: 3px dashed #e0e0e0;
    border-radius: 6px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
    text-align: center;
    width: 34vw;
    height: 28vh;
    cursor: pointer;
  }
  .formbold-drop-file {
    display: block;
    color: #0c0c3094;
    font-size: 12px;
    /* margin-bottom: 8px;
    margin-right: 6px;
    margin-top: 1px; */
  }

  .formbold-or {
    font-size: 12px;
    color: #56575a;
    display: block;
    margin-left: 5px;
  }
  .formbold-browse {
    font-weight: 500;
    font-size: 13px;
    color: #2727d9;
    display: inline-block;
    margin-top: -2px;
    margin-left: 4px;
  }
  .upload{
    width: 34vw;
    height: 6vh;
    background-color: #605BFF;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-size: larger;
    border:none;
}




